<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bob.cdms.mapper.CertificateOfDepositOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bob.cdms.entity.CertificateOfDepositOrder">
        <id column="ORDER_NO" property="orderNo" />
        <result column="CUST_NO" property="customerNo" />
        <result column="AMOUNT" property="amount" />
        <result column="ORDER_DATE" property="orderDate" />
    </resultMap>
    <select id="getCustCertificateOfDepositOrderAmount" resultType="java.math.BigDecimal"
            parameterType="java.util.Map">
        SELECT SUM(AMOUNT) AS TOTAL_AMOUNT
            FROM CERTIFICATE_OF_DEPOSIT_ORDER
            WHERE (CUST_NO = #{customerNo}
                       AND CERTIFICATES_OF_DEPOSIT_ID = #{certificateId})
    </select>
    <select id="getSEQ" resultType="java.math.BigDecimal">
        SELECT CDMS.SE_CERTIFICATE_OF_DEPOSIT_ORDER.nextval from dual
    </select>
    <select id="buyProductByProc" parameterType="map" statementType="CALLABLE">
        {call Pro_Buy_Product(
            #{I_Cust_No,jdbcType=VARCHAR,mode=IN}
            ,#{I_Product_Id,jdbcType=VARCHAR,mode=IN}
            ,#{I_Buy_Amount,jdbcType=NUMERIC,mode=IN}
            ,#{O_Cwdm,jdbcType=NUMERIC,mode=OUT}
            ,#{O_Cwxx,jdbcType=VARCHAR,mode=OUT})}
    </select>


</mapper>
